extends layout

block content
    //- 日誌登録・更新
    #page_diary(data-role='page', yid=yid, fid=fid)
      div#diary(data-role='header', data-position='fixed', data-theme='d')
        a(data-role='button', data-rel='back', data-icon='back') キャンセル
        if ! yid
          h1 日記の登録
        else
          h1 日記の表示・変更

      .ui-content(role='main')
        if yid
          - console.log('> in diary.jade update:' + yid)
          // 更新
          form(action='/api/diaries/' + yid, method='post')
          div(data-role='fieldcontain')          
           label(for='input_date') 日付:
               -var today = new Date();
               -var mm = ("0"+(today.getMonth()+1)).slice(-2);
               -var dd = ("0"+(today.getDate()+1)).slice(-2);
               -var today_str = [today.getFullYear(), mm , dd].join('-');   
           input#input_date(type='date', name='input_date', value=today_str, data-role='datebox', data-options='{"mode":"calbox","themeDate":"c" }')
           input#yid(type='hidden' ,name='yid')            
          div(data-role='fieldcontain')
            label(for='writer') 登録者:
            textarea.input-block-level(id='writer', name='writer') 
          p
          div(data-role='fieldcontain')
            label.select(for='work_choice1') 作業:
            select#work_choice1(name='work_choice1', data-native-menu='false')
              option 作業を選択してください
           p
           div(data-role='fieldcontain')
            label(for='content') 内容:
            textarea.input-block-level(id='content', name='content') 
           div(data-role='fieldcontain')
            label(for='memo') 補足:
            textarea.input-block-level(id='memo', name='memo' )
          input#diary-submit(type='submit', value='更新', data-theme='a') 
        else
          // 新規登録
          - console.log('> in diary.jade new:' + yid)
          form(action='/api/fields/diaries', method='put', data-ajax='false')
          div(data-role='fieldcontain')          
           label(for='input_date') 日付:
               -var today = new Date();
               -var mm = ("0"+(today.getMonth()+1)).slice(-2);
               -var dd = ("0"+(today.getDate()+1)).slice(-2);
               -var today_str = [today.getFullYear(), mm , dd].join('-');   
           input#input_date(type='date', name='input_date', value=today_str,
	       data-role='datebox', data-options='{"mode":"calbox","themeDate":"c" }')
           input#yid(type='hidden' ,name='yid')      
          div(data-role='fieldcontain')
            label.select(for='work_choice1') 作業:
            select#work_choice1(name='work_choice1', data-native-menu='false')
              option 作業を選択してください
          div(data-role='fieldcontain')
            label(for='content') 内容:
            textarea.input-block-level(id='content', name='content' ) 
          div(data-role='fieldcontain')
            label(for='memo') 補足:
            textarea.input-block-level(id='memo', name='memo')
          input#diary-submit(type='submit', value='登録', data-theme='a') 

    //-
      div(data-role='footer', data-position='fixed', data-theme='d')
        div(data-role='navbar')
          ul
            li
              a(data-icon='home', href='/home') ホーム
            li
              a(data-icon='info', href='/help') ヘルプ
